*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slideshow-container{
    position: relative;
}

.prev, .next{
    cursor: pointer;
    padding: 16px;
    position: absolute;
    border-radius: 0 3px 3px 0;
    top: calc(50% - 19px);
    transform: translateY(-50%);
    color: #fff;
    font-weight: bold;
    transition: 0.6s ease;
    text-decoration: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
    background-color: #717171;
}
.hide-slide{
    display: none;
}